name: Test OIDC with AWS

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  aws-test:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repo
      uses: actions/checkout@v4


    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::444398957152:role/github_role
        aws-region: us-east-1


    - name: Verify identity
      run: aws sts get-caller-identity


    - name: List S3 buckets
      run: aws s3 ls


    - name: List test bucket contents
      run: aws s3 ls s3://oicd-test-github/